{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Index</title>
    <!-- Template Main CSS File -->
    <link href="{% static 'style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <h1>Hello, How are you doing today?</h1>
    <div class="grid-container">
      {% for feature in features %}
      <div>
        <h4>{{feature.name}}</h4>
        <h5>{{feature.details}}</h5>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
